// LANGUAGE
#language.language.language_en

    a(
        href="javascript:void(0);"
        title=""
        class="language__link language__btn language-js"
    )
        i.language__btn-flag
        i.language__btn-corner.fa.fa-caret-down

    .language__drop
        .language__drop-wrap
            p.language__title!= "Choose language:"
            a(
                href="javascript:void(0);"
                title=""
                class="language__btn"
            )
                i.language__btn-flag.language__btn-flag_en
                != "English"
            a(
                href="javascript:void(0);"
                title=""
                class="language__btn"
            )
                i.language__btn-flag.language__btn-flag_nl
                != "Nederlands"